<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-1LY5NG1RD7"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag("js", new Date());

      gtag("config", "G-1LY5NG1RD7");
    </script>
    <meta charset="UTF-8" />
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
    <link rel="stylesheet" href="assets/styles/styles.css" />
  </head>

  <body class="">
    <section>
      <div class="btn-group">
        <button hx-get="/assets/content/profile.html" hx-target="#tab-content">
          Profile
        </button>
        <button hx-get="/assets/content/software.html" hx-target="#tab-content">
          Software
        </button>
        <button hx-get="/assets/content/gamedev.html" hx-target="#tab-content">
          Game Dev
        </button>
        <button hx-get="/assets/content/blendart.html" hx-target="#tab-content">
          3D Art
        </button>
        <button hx-get="/assets/content/printing.html" hx-target="#tab-content">
          3D Printing
        </button>
      </div>
    </section>
    <section
      id="tab-content"
      hx-get="/assets/content/profile.html"
      hx-trigger="load"
    ></section>
  </body>
  <footer>
    <button
      _="on click
                go to url https://www.linkedin.com/in/amg001/"
    >
      <i class="fa fa-linkedin-square fa-2x"></i>
    </button>
    <button
      _="on click
                go to url https://github.com/Abrinsky"
    >
      <i class="fa fa-github-square fa-2x"></i>
    </button>
    <button
      _="on click
                go to url https://twitter.com/_Abrinsky"
    >
      <i class="fa fa-twitter-square fa-2x"></i>
    </button>
  </footer>
</html>

<!--TODO add home page with notes and up to date stuff, patches, etc. like a blog, after that profile will be moved?-->

<!--        _="on click-->
<!--        transition .tab-content opacity to 0% over 100ms-->
<!--        then settle-->
<!--        hide .tab-content-->
<!--        show #blendart-->
<!--        transition .tab-content opacity to unset over 100ms"-->

<!--        <button-->
<!--          hx-get="/assets/content/profile.html"-->
<!--          hx-target="#profile"-->
<!--        >-->
<!--          Games-->
<!--        </button>-->
